/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.cd-nav-trigger{
    display:none;
}
.item label{
    background-color:transparent;
    border:none;
    padding:5px 10px 5px 10px;
}
/* .bmi-main-images{
    width:90%;
} */
.main{

    background:#f5f4f5 !important;
}
body{
    background: #ffffff !important;
}
.wizard-header{
    margin-top:0px !important;
}
.item label:hover{
    background: none;
    transition: none;
    box-shadow: none;
    transform: none;
}
.item img{
    width: 100%;
    height: 50%;
    background-clip: white;
    color: white;
    border: none;
}
body{
    background:transparent;
}

.items img{
    width: 100%;
    height: 100%;
    margin-left: 25px;
}
.navbar-bottombar{
    background: #5C7BB8;
}

/* shahroz style  */
.align-items-center.data {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

}

.bmi-logo {
    width: 20%;
    /* height: 20%; */
}

.question_title h3 {
    /* font-size: 36px; */
    /* font-size: 2.25rem; */
    margin-top: 45px;
    color: #333;
}
/* Button container */
#bottom-wizard {
    text-align: center; 
    margin-top: 20px; 
}

/* Common styles for buttons */
button.backward,
button.forward,
a.submit {
    display: inline-block; 
    margin: 0 10px; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

/* Style for backward button */
button.backward {
    background-color: #6c757d;
    border: none; 
    color: #fff;
}

/* Style for forward button */
button.forward {
    background-color: #007bff; 
    border: none;
    color: #fff;
}

/* Style for last step button */
.submit {
    background-color: #17a2b8; 
    border: none; 
    color: #fff;
    text-decoration: none;
}

/* Hover effect for buttons */
button.backward:hover,
button.forward:hover,
a.submit:hover {
    opacity: 0.8; 
}
